<div class="col-xs-12 content">
  <h1>Admin</h1>
  <table width="100%" border="1" class="admintable">
    <tr>
      <td width="200">
        <ul class="adminmenu">
          <li><a ng-click="adminClick('Users')">Users</a></li>
          <li><a ng-click="adminClick('Teams')">Teams</a></li>
          <li><a ng-click="adminClick('Groups')">Groups</a></li>
          <li><a ng-click="adminClick('Documents')">Documents</a></li>
          <li><a ng-click="adminClick('Settings')">Settings</a></li>
          <li><a ng-click="adminClick('Options')">Options</a></li>
          <li class="nohighlight">
            <hr/>
          </li>
          <li><a ng-click="adminClick('Cases')">Cases</a></li>
          <li><a ng-click="adminClick('Calls')">Calls</a></li>
          <li><a ng-click="adminClick('Alerts')">Alerts</a></li>
          <li><a ng-click="adminClick('Notifications')">Notifications</a></li>
          <li class="nohighlight">
            <hr/>
          </li>
          <li><a ng-click="adminClick('FieldTypes')">Field Types</a></li>
          <li><a ng-click="adminClick('Fields')">Fields</a></li>
        </ul>
      </td>
      <td class="admincontent" ng-include="adminPartial"></td>
    </tr>
  </table>
</div>
